<h1>Login</h1>

<div id="flash_messages">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
</div>

<%= form_tag login_path do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <button type="submit">Log In</button>

<% end %>
